body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    flex-shrink: 0;
}

.menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.bar.expanded ~ .bar {
    transform: translateX(1200px); /* Adjust the width of the menu here */
}


.bar span {
    padding: 10px;
}

.icon {
    font-size: 24px;
}


.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #f1f1f1;
}
